@charset "UTF-8";

/* SAGE2 is available for use under the SAGE2 Software License
 *
 * University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
 * and University of Hawai'i at Manoa's Laboratory for Advanced Visualization and
 * Applications (LAVA)
 *
 * See full text, terms and conditions in the LICENSE.txt included file
 *
 * Copyright (c) 2014
 */

/* CSS Document */

@import url('/css/fonts.css');

* {
	margin: 0;
	padding: 0;
}

header, section, footer, aside, nav, main, article, figure {
	display: block;
}

h1 {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: normal;
	font-style: normal;
	color: #FFFFFF;
}

h2 {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: normal;
	font-style: normal;
	color:  #ADD8E6;
	margin: 10px;
}

h3 {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
	color: #FFFFFF;
}

h4 {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	font-style: normal;
	color: #FFFFFF;
}

header {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: normal;
	font-style: normal;
	color: #FFFFFF;
	margin: 10px;
}

footer {
	color: #FFFFFF;
	margin: 5px;
	left: 10px;
	text-align: left;
	bottom: 0;
	position: fixed;
	z-index:-10;
}


p {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 10pt;
	padding-left: 25px;
	text-indent: 0px;
	color: #FFFFFF;
}



footer li {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	width: 800px;
	overflow: hidden;
	list-style: none outside none;
	text-indent: 25px;
	color: #FFFFFF;
}

section ul {
	margin-left: 25px;
}
section ol {
	margin-left: 25px;
}


section li {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-indent: 5px;
	margin-left: 25px;
	color: #FFFFFF;
}

a, a:visited {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	font-family: Arimo, Helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: underline;
	color: #FFFFFF;
}

body {
	background: #333333;
	width:  100%;
	height: 100%;
	text-align: center;
	min-width:500px;
	zoom:1.2;
}

main {
	background: #666666;
	width: 90%;
	text-align: left;
	padding: 10px;
	display: inline-block;
	z-index:10;
}

.siteType {
	margin-bottom: 5px;
}
